body {
    overflow: scroll !important;
}

.info {
    margin: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    white-space: nowrap;
    padding: 0.25em 1em 0 0.5em;
}

tr:nth-child(even) {
    background: whitesmoke;
}

td {
    padding: 0.25em 1em;
    white-space: nowrap;
}

td:last-child {
    width: 100%;
}