on: [push, pull_request]
name: test
jobs:
    build:
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: "10.x"
            - run: npm install
            - run: CI=true npm test -- --coverage
            - uses: codecov/codecov-action@v1
